* {
  margin: 0;
  padding: 0;
  font-family: 'montserrat', Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #000;
  padding-bottom: 20px;
}

/*NAV*/
nav {
  height: 9vh;
  width: 100vw;
  background-color: #000;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  z-index: 10;
}
.owner {
 
  color: #aaa;
  text-transform: capitalize ;
  width: 10em;
  padding-top: 2em;
}
/*Styling logo*/
.logo {
  padding: 1vh 1vw;
  text-align: center;
  display: inline-flex;
}

.logo img {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  margin-left: 2em;
}


/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}

.nav-links li a {
  color: #aaa;
  text-decoration: none;
  margin: 0 0.7vw;
}

.nav-links li a:hover {
  color: white;
}

.nav-links li {
  position: relative;
}

.nav-links li a::before {
  content: "";
  display: block;
  /* height: 1px; */
  width: 0%;
  background-color: white;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}

.nav-links li a:hover::before {
  width: 80%;
}


/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*		Hero section 		*/

.hero {
  align-items: center;
  height: 600px;
}



.enhance {
  color: white;
  text-transform: uppercase;
  padding: 4px;
  font-size: 1.4em;
  font-weight: 400;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

/* heading */
.heading {
  margin-bottom: 2.5em;
  margin-top: 2em;
  color: black;
  font-weight: 600;
  letter-spacing: 3px;
}

/*info*/
.info {
  width: 75%;
  height: 300px;
}

.image1 {
  float: right;
  /* border: 2px solid #41c27d; */
  height: 300px;
  width: 70%;
  border-radius: 10px;
  /* padding-bottom: 10px; */
}

.text1 {
  float: left;
  height: 250px;
  width: 28%;
  border-radius: 10px;
  background-color: white;
  font-size: 90%;
  font-family: 'montserrat', Helvetica, Arial, sans-serif;
  color: black;
  word-spacing: 3px;
  text-align: justify;
  text-justify: inter-word;
}

.image2 {
  float: left;
  /* border: 2px solid #41c27d; */
  height: 250px;
  width: 47%;
  border-radius: 10px;
}

.text2 {
  float: right;
  width: 50%;
  height: 250px;
  border-radius: 10px;
  background-color: white;
  font-size: 200%;
  font-family: 'montserrat', Helvetica, Arial, sans-serif;
  color: black;
  word-spacing: 3px;
  text-align: justify;
  text-justify: inter-word;
}



/* doc */
.section {
  text-decoration: none;
}


/* container */
.container {
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;

}

@media (min-width:768px) {
  .container {
    width: auto
  }

}


.container:after,
.container:before,
.clearfix:after,
.clearfix:before {
  display: table;
  content: " ";
}

.container:after,
.clearfix:after {
  clear: both
}

@media (min-width:992px) {
  .container {
    width: auto
  }


}

@media (min-width:1200px) {
  .container {
    width: auto
  }
}

@media screen and (max-width: 1000px) {

  .container {
    max-height: 90%;
  }
}

@media screen and (max-width: 600px) {

  .container {
    max-height: 90%;
  }

}

@media screen and (min-width: 1000px) {

  .container {
    max-height: 90%;
  }

}

@media only screen and (orientation: landscape) {

  body {
    font-size: 15px;
  }

}


input[type="text"],
input[type="email"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 60%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;

}

input[type="text"]:focus,
input[type="email"]:focus {
  border-bottom: 2px solid #41c27d;
  color: #222;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 0px;
  width: 120px;
  height: 32px;
  background: #9b5b3c;

  border: none;
  border-radius: 2px;
  color: #FFF;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
  padding: 20px 20px;
}


:disabled {
  opacity: calc(0.6);
}

/* contact us */


#contact {
  width: 100%;
  height: 50%;
  background-color: #131418;
  font-weight: 800;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  /* padding: 20px 0; */
  font-weight: 600;
  font: 300 30px 'montserrat', sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 6px;
  /* text-decoration: overline 3px #41c27d; */
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'montserrat', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.form-control,
textarea {
  max-width: 400px;
  width: 240px;
  background-color: #fff;
  color: #000;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 159px;
  overflow: hidden;
  background-color: #aaa;
  border: 2px solid #333;
  transition: all .2s ease-in-out;
}


.alt-send-button {
  width: 100%;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'montserrat', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'montserrat', sans-serif;
  letter-spacing: 1.9px;
  color: #000;
  font-weight: 500;
}

.place {
  margin-left: 62px;
  color: #fff;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #aaa;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #ddd;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 45px;
  width: 45px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: #fff;
  cursor: pointer;
  transition: all .2s ease-in-out;
}


.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #aaa;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'montserrat', sans-serif;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255, 255, 255, .6);
}




/* about */
#about {
  padding-top: 100px;
  height: 91vh;
  color: white;
  background-color: #131418;
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);

}

#about .intro {
  padding-left: 20px;
  color: #41c27d;
  text-align: center;
  justify-content: center;
  font-size: 2em;
  letter-spacing: 3px;
  font-family: 'montserrat';
}

#about .intro h1 {
  text-align: left;
  font-size: 39px;
  color: #aaa;
  margin-top: 2em;
}

#about img {
  padding-top: 80px;

  width: 350px;
  height: 350px;
  transition: transform .3s;
  /* border-radius: 50%; */
}

#about img:hover {
  transform: scale(1.3);
}

/* projects */
.projects {
  height: auto;
  width: 100%;
  color: black;
  background-color: #fafafa;
  margin-bottom: 3em;
}

.tiles-wrap {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */

}

.project-tile {
  /* margin: 10px 0 0 20%; */
  /* height: 180px; */
  flex: 1 0 30%;
  transition: transform .3s;
  margin-bottom: 10em;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  margin-left: 3em;
margin-right: 3em;
}

.project-tile:hover {
  transform: scalex(1.1);
}

.project-tile img {
  height: 240px;
  /* width: 300px; */
  width: 80%;
}

.project-tile img:hover {
  cursor:pointer;

}

.project-tile .title,
.project-tile a {
  font-size: 16px;
  letter-spacing: 0.01px;
  text-decoration: none;
  color: #222;
  font-weight: 500;
  padding: 15px 0;
  font-weight: 600;
}

.project-tile .title,
.project-tile a:hover {
  font-weight: 600;
}

.project-tile .title,
.project-tile a:active {
  color: #aaa;
}

.project-tile .stack {
  font-size: 10px;
  letter-spacing: 0.01px;
  color: black;
  margin-bottom: 2em;
}


/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }

  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }

  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }

  .form-control,
  textarea {

    margin: 0 auto;
  }


  .name,
  .email,
  textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }

  .social-media-list {
    left: 0;
  }

  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }

  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }

}
/*Stying for small screens*/
@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 3;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }

  .nav-links {
    position: fixed;
    background: #000;
    color: #fff;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }

  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }

  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }

  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }

  li.fade {
    opacity: 1;
  }
}

@media screen and (max-width: 460px) {
  .send-button {
    width: 99%;
  }
  #about .intro h1 {
    font-size: 21px;
    margin-top: 3em;
    text-align: left;
    margin-left: 0.5em;
    margin-right: 1em;
}
#about img {
  padding-top: 96px;
  width: 71%;
  
  transition: transform .3s;
}
.project-tile {
  margin-bottom: 6em;
}
}

@media (max-width: 400px) {
  .owner {
    color: #aaa;
    text-transform: capitalize;
    width: 10em;
    padding-top: 3em;
    font-size: 0.85em;
}
}
